body{
  
 background-image:  url('../images/background.png');
 background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    width: 1366px;
    margin: auto;
}

.logo-image:hover img{
    content: url('../images/logo-orange.png')

}
.cont{
    color: white;
text-decoration: none;
}
.cont:hover{
    color: rgba(255, 136, 0, 0.992);
}

.header-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 46px 177px 17px 161px;
width: 1028px;
}

.contacts{
    display: flex;
    flex-direction: column;
    text-align: end;
    row-gap: 19px;
    font-size: 18px;
}
.logo{
    display: flex;
    justify-content: space-between;  
    align-items: center;

}

.logo:hover .content{
    color: orangered;
}

.content{
    display: flex;
    flex-direction: column;
    margin-left: 12px; 
    margin-top: 11px; 
    color: white; 
    text-decoration: none;
}
.logo-cont{
    text-decoration: none;
}

h1{
    font-size: 29px;
    font-family: Roboto;
    font-weight: 700;
    margin: 0; 
}
h2{
    font-size: 18px;
    font-family: Roboto;
    font-weight: 700;
    margin: 0;  
    
}
.portf-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 60px;
}


.portfolio-price-1{
font-size: 10px;
margin-top: 15px;
margin-left: 18px;

}
.portfolio-price-2{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 18px;
}
.details{
   font-size: 14px;
   margin-right: 37px;
   position: relative;
   color: white;
}
.view{
    text-decoration: none;
}

.details::after{
   
 position: absolute;
 content: "\003E";;
right: -16px;
 color: white;
        
}
.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 68px;
    column-gap: 61px;
    margin-left: 165px;
    margin-right: 178px;
}

.portfolio-gallery-item {
    position: relative;
    overflow:hidden;
    
}
.portfolio-gallery-hover{
    display: flex;
justify-content: space-between;
align-items: flex-end;

color: white;
background-color: orangered;
    position: absolute;
    box-sizing: border-box;
    bottom: -200px;

    left: 0;
    transition: 0.5s;
}
.portfolio-gallery-item:hover > .portfolio-gallery-hover {
	bottom: 65px;
}
.portfolio-text{
    font-size: 18px;
    text-align: center;
    color: white;
}
.portfolio-gallery-item:hover > .portfolio-text{
    color: orangered;
}
.copyright{
   
    font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 12px;
letter-spacing: 0px;
text-align: center;
margin-bottom: 15px;
margin-top: 49px;
color: white;

}
